@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.navbar-light .navbar-nav .nav-link {
  color: white;
}

@keyframes updown {
  0% {
      transform: translateY(-20px);
  }
  50% {
      transform: translateY(20px);
  }
  100% {
      transform: translateY(-20px);
  }
}

@keyframes fade-in {

  0% {scale: 0.8; opacity: 0;}
  100% {scale: 1; opacity: 1;}
  
}

@keyframes fade-out {

  0% {opacity: 1; scale:1}
  100% {opacity: 1 ; scale: 0.4}
  
}


.sechead{
  font-size: 80px;
  font-weight: 900;
  overflow-x: hidden;
  
}